:root{
    --verde-azulado: #86abae;
    --castaño: #9d856a;
    --Gris-azulado: #656971;
    --amarillo: #fed43d;
    --rojo: #cc3a42;
    --blanco: #ededed;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    .header{
        width: 100vw;
        background-color: var(--verde-azulado);
        font-weight: bold;
        color: var(--blanco);
    }
    .header-1{
        width: 100%;
        height: 100px;
    }
    .header-1-contact{
        padding-top: 30px;
        text-align: center;
    }
    .header-1-rrss ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .header-1-rrss ul li{
        list-style: none;
    }
    .header-1-rrss ul li a img{
        margin: 10px;
    }
    .header-2-menu__toogle{
        position: absolute;
        cursor: pointer;
        margin: 0 1rem;
        right: 0;
    }
    .close{
        display: none;
    }
    .header-2-menu__checkbox{
        display: none;
    }
    .header-2-menu-list{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        margin: 1rem;
    }
    .header-2-menu-list a{
        color: inherit;
        text-decoration: none;
        font-size: 1.1rem;
    }
    .header-2-menu-list li{
        list-style-type: none;
        display: none;
    }
    .header-2-menu-list li:first-child{
        margin-right: auto;
        display: block;
    }
    #header-2-menu__checkbox:checked ~ ul.header-2-menu-list li{
        display: block;
    }
    #header-2-menu__checkbox:checked ~ label.header-2-menu__toogle .close{
        display: block;
    }
    #header-2-menu__checkbox:checked ~ label.header-2-menu__toogle .list{
        display: none;
    }
    .main{
        width: 100vw;
        background-color: var(--blanco);
    }
    .main-slider-container{
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    background-color: var(--blanco);
    }
    .main-info-container{
        width: 90%;
        margin: 0 auto;
        background-color: var(--blanco);
    }
    .main-info-container-div{
        width: 95%;
        height: 300px;
        margin: 0 auto;
        margin-bottom: 10px;
        margin-top: 10px;
        background-color: white;
        box-shadow: 0 1px 6px 0 #20212447;
        border-color: #dfe1e500;  
        border-radius: 3px;  
        padding: 10px;
        display: grid;
        grid-template-rows: 2fr 1fr 1fr;
    }
    .main-info-container-div__img{
        justify-self: center;
    }


    .desplegable__toogle,.desplegable__toogle2,.desplegable__toogle21,.desplegable__toogle22,.desplegable__toogle31,.desplegable__toogle32{
        cursor: pointer;       
    }
    .desplegable__cerrado,.desplegable__cerrado2,.desplegable__cerrado21,.desplegable__cerrado22,.desplegable__cerrado31,.desplegable__cerrado32{
        display: flex;
    }
    .desplegable__abierto,.desplegable__abierto2,.desplegable__abierto21,.desplegable__abierto22,.desplegable__abierto31,.desplegable__abierto32{
        display: none;
    }
    .desplegable__checkbox,.desplegable__checkbox2,.desplegable__checkbox21,.desplegable__checkbox22,.desplegable__checkbox31,.desplegable__checkbox32{
        display: none;
    }    
    .desplegable__lista li,.desplegable__lista2 li,.desplegable__lista21 li,.desplegable__lista22 li,.desplegable__lista31 li,.desplegable__lista32 li{
        list-style: none;
        display: none;
    }

    #desplegable__checkbox:checked ~ ul.desplegable__lista li{
        display: inline;
    }
    #desplegable__checkbox:checked ~ label.desplegable__toogle .desplegable__abierto{
        display: flex;
    }
    #desplegable__checkbox:checked ~ label.desplegable__toogle .desplegable__cerrado{
        display: none;
    }

    #desplegable__checkbox2:checked ~ ul.desplegable__lista2 li{
        display: inline;
    }
    #desplegable__checkbox2:checked ~ label.desplegable__toogle2 .desplegable__abierto2{
        display: flex;
    }
    #desplegable__checkbox2:checked ~ label.desplegable__toogle2 .desplegable__cerrado2{
        display: none;
    }

    #desplegable__checkbox21:checked ~ ul.desplegable__lista21 li{
        display: inline;
    }
    #desplegable__checkbox21:checked ~ label.desplegable__toogle21 .desplegable__abierto21{
        display: flex;
    }
    #desplegable__checkbox21:checked ~ label.desplegable__toogle21 .desplegable__cerrado21{
        display: none;
    }

    #desplegable__checkbox22:checked ~ ul.desplegable__lista22 li{
        display: inline;
    }
    #desplegable__checkbox22:checked ~ label.desplegable__toogle22 .desplegable__abierto22{
        display: flex;
    }
    #desplegable__checkbox22:checked ~ label.desplegable__toogle22 .desplegable__cerrado22{
        display: none;
    }

    #desplegable__checkbox31:checked ~ ul.desplegable__lista31 li{
        display: inline;
    }
    #desplegable__checkbox31:checked ~ label.desplegable__toogle31 .desplegable__abierto31{
        display: flex;
    }
    #desplegable__checkbox31:checked ~ label.desplegable__toogle31 .desplegable__cerrado31{
        display: none;
    }

    #desplegable__checkbox32:checked ~ ul.desplegable__lista32 li{
        display: inline;
    }
    #desplegable__checkbox32:checked ~ label.desplegable__toogle32 .desplegable__abierto32{
        display: flex;
    }
    #desplegable__checkbox32:checked ~ label.desplegable__toogle32 .desplegable__cerrado32{
        display: none;
    }

    .footer{
        width: 100vw;
        padding-top: 30px;
        background-image: url(./images/pie/TIPOLOGÍA\ \(A\)\ SILUETA\ CASA\ -NEGRO.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .footer-img{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-rows: 9fr 1fr;
    }
    .footer1{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .footer2{
        display: grid;
        grid-template-rows: 2fr 1fr;
    }
    .footer2 ul{
        display: flex;
        justify-content: center;
    }
    .footer ul li{
        list-style: none;
    }

@media (min-width: 768px){
    .footer{
        width: 100vw;
        padding-top: 50px;
       }
       .footer-img{
           width: 90%;
           height: 90%;
           margin: 0 auto;
           display: grid;
           grid-template-rows: 6fr 1fr;
           border-top: 1px solid white;
       }
       .footer1{
           width: 75%;
           display: grid;
           grid-template-columns: 1fr 1fr 1fr;
           align-content: center;
       }
       .footer2{
           border-top: 1px solid white;
           display: grid;
           grid-template-columns: 1fr 1fr;
       }
       .footer2 ul{
           display: flex;
       }
       .footer ul li{
           list-style: none;
           margin-left: 10px;
       }

}
